<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <%- include('_header'); %> -->
    <link rel="stylesheet" href="/css/user_profile.css">
    <body>
        <h1> codeial / <%= title %></h1>
    </body>

    <!-- <%- include('_footer'); %>

</html> -->