#footer_style {
    height: 38px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: cornflowerblue;
    text-shadow: 0px 1px 2px azure;
    li{
        margin-right: 1em;
        color: black;
        a{
            color: black;
            text-shadow: black;

        }
    }
}