body{
    margin: 0;
    text-align: center;

    #main_body{
        height: 100%;
    }
}

#post-list-container{
    ul{
        // list-style-type: none;
        text-align: center;
        display: inline-block;
    }
}
